<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Acces-Control-Allow-Origin:*

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <nav aria-label="breadcrumb">
  <div id="header" class="p-3 mb-2">
    <style type="text/css">
    #header{
      background-color: #004481;
    }
    p{
      color: #FFF;
    }
    #boton{
      background-color: #1973b8;
    }

    </style>
    <p>BBVA</p></div>
    </nav>
      <form>
        <div class="form-group">
          <input type="email" value="{{email::input}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario *">
        </div>
        <div class="form-group">
          <input type="password" value="{{password::input}}" class="form-control" id="exampleInputPassword1" placeholder="Contraseña *">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
        </div>
        <button id ='boton' type="button" on-click="login" class="btn btn-primary">Iniciar Sesión</button>
      </form>
      <div class="row" hidden$={{!logado}}>
        <span>Bienvenido a la aplicaciòn</span>



      </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Acces-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado:{
            type:Boolean,
            value:false
          }
        };
      }
      login(){
        var loginData={"email":this.email,"password":this.password};
        console.log(loginData);
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('Peticiòn enviada');
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado=true;
      }

      showError(error){
        console.log("Hubo un error");
        alert("Datos ingresados incorrectos, valide");
        console.log(error);
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
