<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://as1.ftcdn.net/jpg/02/75/84/12/500_F_275841294_yxBYsnuDRwuDtIKuJanEAjvRn4G0OiKD.jpg" alt="">
      </div>

      <div class="row">
        <button type="button" name="button" class="btn-success" on-click="incrementar">Cargar Datos</button>
      </div>
      <div class="row">
        <input type="text" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">

      </div>

      <div class="row">
        <table class="table table-striped col-lg-6 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <th>[[prop2]]</th>
              <th>Selena</th>
              <th>Mora</th>
            </tr>
            <tr>
              <th>2</th>
              <th>Dolores</th>
              <th>Fuertes</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
          //value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      incrementar(){
        this.prop2 += 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }
    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
